.contenido {
    
    margin-top: 30px;
    background: white;
    border-radius: 2px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0px 2px 2px #ccc;
}

.header{
    background: #b90808;
   margin: 0px;
   height: 100px;
   text-align: center;
   line-height: 80px;
}

.header h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
}

.menu{
    display: block;
    padding: 30px;
    margin: 0px;
    background: rgb(131, 27, 117);
}

.menu ul {
    list-style: none;
    margin: 0px;
}

.menu ul li{
    float: left;
    margin-right: 10px;
}

.menu ul li a {
    display: block;
    height: 30px;
    color: rgb(51, 114, 57);
    margin-bottom: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 300ms;
}

.menu ul li a:hover {
    text-decoration: none;
    background: #a88522;
}

.activado {
    text-decoration: none !important;
    background: #b90808 !important;
    border-bottom: 4px solid rgb(173, 190, 16) !important;
}

.footer {
    padding-top: 40px;

}

.main jumbotron {
    padding: 50px;
}

.principal {
    margin-top: 50px;
}

.principal a {
    margin-left: 10px;
}

.productos {
    text-align: center;
}

.formulario label {
    margin-top: 10px;
}

.boton-enviar {
  margin-top: 20px;
}

.botones {
    margin-right: 5px;
}

